@model CameraDetailsServiceModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-auto">
            <h1>@Model.Make @Model.Model - $@Model.Price - </h1>
        </div>
        @if (Model.IsInStock)
        {
            <div class="col pl-0 text-success">
                <h1>IN STOCK</h1>
            </div>
        }
        else
        {
            <div class="col pl-0 text-danger">
                <h1>OUT OF STOCK</h1>
            </div>
        }
    </div>

    <div class="row">
        <div class="col">
            <h2>
                <a href="/user/profile/@Model.UserId">@Model.UserName</a>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="@Model.ImageUrl" class="img-thumbnail" style="height:150px; width:200px" alt="@string.Concat(Model.Make, " ", Model.Model)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 font-weight-bold text-right">
            <h5>Is Full Frame:</h5>
        </div>

        <div class="col-md-9">
            @(Model.IsFullFrame == true ? "Yes" : "No")
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 font-weight-bold text-right">
            <h5>Min Shutter Speed:</h5>
        </div>

        <div class="col-md-9">
            @Model.MinShutterSpeed"
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 font-weight-bold text-right">
            <h5>Max Shutter Speed:</h5>
        </div>

        <div class="col-md-9">
            1/@Model.MaxShutterSpeed
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 font-weight-bold text-right">
            <h5>Min ISO:</h5>
        </div>

        <div class="col-md-9">
            @if (Model.MinIso.ToString().Equals("Iso50"))
            {
                @: 50
            }
            else if (Model.MinIso.ToString().Equals("Iso100"))
            {
                @: 100
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 font-weight-bold text-right">
            <h5>Max ISO:</h5>
        </div>

        <div class="col-md-9">
            @Model.MaxIso
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 font-weight-bold text-right">
            <h5>Video Resolution:</h5>
        </div>

        <div class="col-md-9">
            @Model.VideoResolution
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 font-weight-bold text-right">
            <h5>Description:</h5>
        </div>

        <div class="col-md-9">
            @Model.Description
        </div>
    </div>
</div>
