@model UserListingViewModel

@{
    ViewData["Title"] = "All";
}

<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Current Roles</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>
                <form asp-action="SetRoles">
                    <input type="hidden" name="UserId" value="@user.Id"/>
                    <div class="row">

                    </div>
                    <div class="col">
                        @foreach (var role in Model.Roles)
                        {
                            <input checked="@user.RoleNames.Contains(role.Name)" type="checkbox" name="RoleIds" value="@role.Id" /> @role.Name
                        }
                        <input type="submit" value="Save" class="btn-primary" />
                    </div>
                </form>
            </td>
        </tr>
    }
</table>

