@model SaleModel

<h1>Sale Id @Model.Id Details</h1>
<h2>Car: @Model.Car.Make - @Model.Car.Model, Traveled Distance: @Model.Car.TraveledDistance.ToString("F0") KM</h2>
<h2>Customer Name: @Model.CustomerName</h2>